{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-impressionen{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- Abschnitt 1: Anlagentechnik – Hardware -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Anlagentechnik – Hardware</h2>
      <p>Technik und Kunst, für uns oft ganz nahe beieinander :-)<br>
      Gerne zeigen wir euch ein paar Beispiele von Technikzentralen und Schaltschränken unserer Projekte.
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mb-4">
      <img src="/impressions/IMG_0015.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 1">
    </div>
    <div class="col-md-6 mb-4">
      <img src="/impressions/IMG_0005.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 2">
    </div>
    <div class="col-md-6 mb-4">
      <img src="/impressions/IMG_0016.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 3">
    </div>
    <div class="col-md-6 mb-4">
      <img src="/impressions/IMG_2064.JPG" class="img-fluid w-100" alt="Anlagentechnik Bild 4">
    </div>
  </div>
</div>



<!-- Abschnitt 2: Gebäudeleittechnik – Software -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Anlagentechnik – Software</h2>
      <p>Als zertifizierter evon XAMControl Integrator erstellen wir Mess-, Steuer- und Regeltechniksoftware basierend auf Standards mit internationalen Programmiersprachen. Dies bedeutet höchste Nachhaltigkeit für den Endkunden.<br>Die übersichtliche Visualisierung ist intuitiv bedienbar.<br>Hier ein paar einfache Beispiele ...</p>
    </div>
  </div>
 <div class="row mt-4">
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0006.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 1">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_2066.png" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 1">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0007.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 2">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_2067.png" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 3">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0008.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 3">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_2065.png" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 4">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0018.jpeg" class="img-fluid w-100" alt="evon Systemintegrator Zertifikat">
  </div>
</div>  
</div>

<!-- Abschnitt 3: Video -->
  <div class="container my-3">
    <div class="row">
      <div class="col-md-8 text-center">
        <p>"Alles dreht sich, alles bewegt sich ;-)"<br>
        So schauen Übersichtsgrafiken aus, wenn wir unsere Baustellen nach der Inbetriebnahme verlassen --></p>
      </div>
    </div>
  </div>
<div class="container-fluid my-5 p-0">
  <video class="w-100" autoplay muted loop playsinline>
    <source src="/impressions/mov.mp4" type="video/mp4">
    Dein Browser unterstützt kein HTML5-Video.
  </video>
</div>

{{ end }}
