{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-impressionen{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- Abschnitt 1: Anlagentechnik – Hardware -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Anlagentechnik – Hardware</h2>
      <p>Technik und Kunst, für uns oft ganz nahe beieinander :-)</p>
    </div>
  </div>
  <div class="row mt-4">
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0014.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 1">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0015.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 2">
  </div>   
  <div class="col-md-6 mb-4">  
    <img src="/impressions/IMG_0005.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 3">
  </div>
   <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0016.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 4">
  </div>
  <div class="col-md-6 mb-4">
</div>



<!-- Abschnitt 2: Gebäudeleittechnik – Software -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Anlagentechnik – Software</h2>
      <p>Als zertifizierter evon XAMControl Integrator erstellen wir Software basierend auf internationalen Programmierstandards. Durchgängigkeit und die Verwendung von Standards auf höchster Ebene sind für uns genauso selbstredend wie intuitive und übersichtliche Anlagenbedienung. Hier ein paar einfache Beispiele ...</p>
    </div>
  </div>
 <div class="row mt-4">
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0006.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 1">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0007.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 2">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0008.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 3">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0009.jpeg" class="img-fluid w-100" alt="Gebäudeleittechnik Bild 4">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_0018.jpeg" class="img-fluid w-100" alt="evon Systemintegrator Zertifikat">
  </div>
</div>  
</div>
{{ end }}
