{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-impressionen{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- Abschnitt 1: Anlagentechnik – Hardware -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Anlagentechnik – Hardware</h2>
      <p>Technik und Kunst, ganz nahe beeinander</p>
    </div>
  </div>
  <div class="row mt-4">
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_2060.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 1">
  </div>
  <div class="col-md-6 mb-4">
    <img src="/impressions/IMG_2063.jpeg" class="img-fluid w-100" alt="Anlagentechnik Bild 2">
  </div>
</div>



<!-- Abschnitt 2: Gebäudeleittechnik – Software -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Gebäudeleittechnik – Software</h2>
      <p>Text</p>
    </div>
  </div>
</div>
{{ end }}
