{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-impressum{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
    <div class="col-12 col-md-6">
    <img src="/impressum/animation_back_white.gif" class="img-fluid" alt="Responsive image">
    </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">

      {{ .Content }}
      <ul>
        {{ if .Site.Data.impressum.businessName }}
        <li style="white-space: pre-wrap;"><strong>{{ .Site.Data.impressum.businessName }}</strong></li>
        {{ end }}
        {{ if .Site.Data.impressum.address }}
        <li style="white-space: pre-wrap;"><strong>Adresse: </strong>{{ .Site.Data.impressum.address }}</li>
        {{ end }}
        {{ if .Site.Data.impressum.phone }}
        <li><strong>Mobil: </strong>{{ .Site.Data.impressum.phone }}</li>
        {{ end }}
        {{ if .Site.Data.impressum.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.impressum.email }}">
        {{ .Site.Data.impressum.email }}</a></li><br><br>
        {{ end }}
        <font size="2">
        {{ if .Site.Data.impressum.firmendaten }}
        <li style="white-space: pre-wrap;">{{ .Site.Data.impressum.firmendaten }}</li>
        {{ end }}
      </ul>
      <div class="col-12 col-md-6">
      <img src="/impressum/Elektrotechnik.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <br>
      Für den Inhalt verantwortlich: Ing. Christian Hennerbichler 
      </font>
    </div>

  </div>
</div>

{{ end }}