{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.businessNameche }}
        <li><strong><u>{{ .Site.Data.contact.businessNameche }}</strong></u></li>
        {{ end }}
        {{ if .Site.Data.contact.phoneche }}
        <li><strong>Mobil: </strong>{{ .Site.Data.contact.phoneche }}</li>
        {{ end }}
        {{ if .Site.Data.contact.emailche }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.emailche }}">
        {{ .Site.Data.contact.emailche }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.Textche }}
        <li style="white-space: pre-wrap;"><br><strong>Über mich: </strong><br>{{ .Site.Data.contact.Textche }}</li>
        {{ end }}
        {{ if .Site.Data.contact.Stationenche }}
        <li style="white-space: pre-wrap;"><br><strong>Meine Stationen: </strong><br>{{ .Site.Data.contact.Stationenche }}</li>
        {{ end }}
        {{ if .Site.Data.contact.Mottoche }}
        <li style="white-space: pre-wrap;"><br><strong>Mein Antrieb: </strong><br>{{ .Site.Data.contact.Mottoche }}</li>
        {{ end }}
      </ul>
      
    </div>
  </div>
</div>
{{ end }}