{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.businessName }}
        <li><strong>{{ .Site.Data.contact.businessName }}</strong></li>
        {{ end }}
        {{ if .Site.Data.contact.phone }}
        <li><strong>Mobil: </strong>{{ .Site.Data.contact.phone }}</li>
        {{ end }}
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Adresse: </strong><br>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
      
    </div>
    <div class="col-12 col-md-6">
      <img src="/contact/christian.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
{{ end }}
